<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>API Token</strong>
  <%= @token.hex_value %>
</p>

<%= link_to 'Edit', edit_store_it_path(@store) %> |
<%= link_to 'Back', store_its_path %>
