<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction number:</strong>
  <%= @receipt.transaction_number %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @receipt.payment_method %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @receipt.amount %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @receipt.tip %>
</p>

<p>
  <strong>Total:</strong>
  <%= @receipt.total %>
</p>

<p>
  <strong>Store Id:</strong>
  <%= @receipt.store_id %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
